@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;600&display=swap');

/* Setup  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Raleway', sans-serif;
    --primary-color: #ffffff;
    --secondary-color: #ececec;
    --tertiary-color: #0f0f0f;
    --hover-color: rgb(168, 168, 168);
}

h1,h2,h3,p{
    font-family: 'Poppins', sans-serif;
}



body{
    background: var(--secondary-color);
}

/* Navbar */

.navbar{
padding-bottom: 50px;
margin-bottom: 100px;
}	

.menus{
  position:absolute;
  width: 100%;
  box-shadow: 0px 0px 1px black;
}
.header {
  width: 100%;
  height: 35px;
  background-color: var(--primary-color);
  border-bottom: 1px solid black;
  display:flex;

}

.headerul{
  display:block;

}
.lupa{
  float:right;
  position:absolute;
  right:0px;
  top:0px;
  justify-content: space-between;
  cursor:pointer;
}

.user-info h1{
  font-weight: 1000;
  color: #3c3b3b;
}

.text-description p{
  margin-top:20px;
  letter-spacing: 2px;
  font-size: 14px;
  color: gray;
  margin-bottom: 20px;
}

.border{
  border-left: solid 1px lightgray;
  height:46px;
}

.wrapper{
  margin-left: 60px;
  margin-right: 60px;
}

.barra{
  margin-left: 150px;
}

.text-topic{
  width: 400px;
}

.cefet{
  font-size:17px;
  position: sticky;
  margin-bottom: 35px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  width: 250px;
  height: 45px;
  letter-spacing: 3px;
  border-right:solid 1px rgba(160, 160, 160, 0.3);
}

.cefet:hover{
  transition: 0.3s;
  color:lightseagreen;
  cursor:pointer;
}

.active{
  color: gray;
  letter-spacing: 3px;
  display:flex;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  }

.active a{
  border-right:solid 1px rgba(160, 160, 160, 0.3);;
}

.user-img{
  margin-left: -190px;
  margin-bottom: -30px;
  align-items: bottom;
}

.user-text{
  margin-top:-15px;
  margin-left: 150px;
  text-align:left;
  position:sticky;
}

.image-content{
  background-color: var(--primary-color);
  width: 400px;
  box-shadow: 0px 0px 1px black;
}

.image-content:hover{
  transition: 0.3s;;
  transform: scale(1.05);
  color: lightseagreen;
  cursor: pointer;
}

.topic{
  width: 400px;
  margin-left: 150px;
  box-shadow: 0px 0px 1px black;
}

.text-topic{
  padding-left: 20px;
  letter-spacing: 3px;
  height: 75px;
  padding-top:20px;
  font-size: 10px;
}
.text-topic p{
  color: gray;
}

.text-topic img{
  text-align: right;
  border-radius: 50%;
  color: gray;
  margin-left: 325px;
  margin-top: -70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary-color);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: var(--tertiary-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    transition: 0.3s;
    opacity: 1;
    color: lightseagreen;
  }
  
  .hexagono  {
    position:relative;
    margin:auto;
    text-align:left;
    overflow:hidden;
    white-space:nowrap;
    display:table;
}
.hexagono::before {
    content:'';
    padding-top:120%;
    display:inline-block;
    vertical-align:middle;
}

.hexagono::after {
    content:'';
    position:absolute;
    top:0%;
    left:-10%;
    width:120%;
    padding-top:120%;
    transform: rotatex(51deg) rotate(45deg);
    text-align:center;
    box-shadow:0 0 0 200px #ececec;
}
.hexagono img {
    display:inline-block;
    vertical-align:center;
    margin:0px -10px;
}

  .center{
    margin: 0px auto;
    box-shadow: 0px 0px 1px black;
}

  .container{
    background-color: var(--primary-color);
    padding: 50px;
    width: 1000px;
}	

.side-post{
  margin-left: 50px;
  float: left;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}

.AUTHOR{
  float: right;
  margin-top:-100px;
  margin-right:-50px;
  box-shadow: 0px 0px 1px black;
  width: 300px;
  height: 200px;
}

.post-img{
  margin-top:75px;
  font-size: 12px;
  text-align:center;
  letter-spacing: 3px;
  border-color: 10px solid black;
}

.post-img h1{
  font-size:12px;
  margin-top:-10px;
  margin-bottom:20px;
}

.post-img p{
  cursor: pointer;
  margin-top:0px;
  margin-left:85px;
  color: gray;
  text-decoration: underline dotted;
}

.post-img p:hover{
  color: lightseagreen;
  border-width: 1px;
  transition: 0.3s;
  opacity: 1;
}

.post-img img{
  position: absolute;
  margin-top:-10px;
  margin-left:-50px;
  border-radius: 50%;
}

.post-title {
  position: absolute;
  letter-spacing: 3px;
  width: 700px;
  height: 200px;
  margin-left:-50px;
  margin-top: -100px;
  margin-bottom: -20px;
  box-shadow: 0px 0px 1px black;

}

.post-title h1{
  margin-left: 50px;
  margin-top:55px;
  margin-bottom:10px;
  text-align: left;
  color: #3c3b3b;
}

.post-title p{

  margin-left:50px;
  text-align: left;
  color: gray;
  font-size: 14px;
}

.image-container{
  cursor: pointer;
  margin-top:50px;
  
}
.image-container:hover{
  transform: scale(1.02);
  transition: 0.6s;
}

.image-text{
  margin-left: 35px;
  color: gray;
}

.imagem{
  margin:35px;
}

.continue{
  font-size:12px;
  margin:35px;
  margin-left: 45px;
  padding-left: 40px;
  padding-top:15px;
  margin-bottom:-05px;
  width: 200px;
  display: flex;
  justify-content:left;
  text-align: center;
  height: 50px;
  box-shadow: 0px 0px 1px black;
  transition: 0.3s;
  opacity: 0,2;
  font-weight: bold;
  cursor: pointer;
}

.continue:hover{
  color: lightseagreen;
  border-width: 1px;
  border-style: solid;
  border-color: lightseagreen;
  transition: 0.3s;
  opacity: 1;
}

.generalul{
  margin-top: -25px;
  font-size: 10px;
  color: gray;
  float:right;
  list-style-type: none;
}

.generalul li{
  cursor: pointer;
  margin: 0 0 0 2em;
  padding: 0 0 0 1em;
}
.generalul li:hover{
  color: lightseagreen;
  border-width: 1px;
  transition: 0.3s;
  opacity: 1;
}

.general{
  text-decoration: underline;
  text-decoration-style: dotted;
}

.topic{
    background-color: var(--primary-color);
    width: 300px;
    }	
    
.topic-text{
  width: 300px;
  }	


.text-description{
    width: 300px;
}

.wrapper {
  display: flex;
}

.left {
  flex: 0 0 0;
}

.right {
  flex: 1;
}

.img-left {
  flex: 0 0 0;
}

.txt-right {
  flex: 1;
}

.space{
  width: 1000px;
  height: 50px;
  margin-left:-50px;
  margin-top:50px;
  margin-bottom:100px;
  background-color: var(--secondary-color);
}

.left-reference{
  margin-left: 150px;
  background-color: var(--secondary-color);
}

.refimg{
  margin: 0px;
  padding: 0px;
  float:left;
  margin-top:-35px;
  margin-left: 8px;
  background-size:cover;
  height: 1px;
  transform: scale(1.2);
  box-shadow: 0px 0px 1px black;
}

.published{
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: 0.25em;
    margin-left: 75px;
    margin-bottom: -10px;
    text-transform: uppercase;
}

.reftext{
  cursor: pointer;
  margin-left: 75px;
  margin-top: -45px;
  letter-spacing: 0.25em;
  margin-top: 0.125em;
  font-size: 13px;
  text-transform: uppercase;
  
}
.reftext:hover{
  color: lightseagreen;
  transition: 0.3s;
  opacity: 1;
}


.posts{
  background-color: var(--secondary-color);
}

.posts li{
  margin-bottom: 35px;
}

.abtitle{
  float: left;
  padding: 0px;
  border: 0px;
  color: #3c3b3b;
  font-size: 18px;
  margin: 25px 0px;
  letter-spacing: 0.25em;

}

.abp{
  float: left;
  padding: 0px;
  border: 0px;
  color: #3c3b3b;
  font-size: 13px;
  margin-bottom:30px;
}

.learn{
  font-size:12px;
  margin:35px;
  width: 150px;
  display: flex;
  justify-content:center;
  height: 50px;
  padding-top:16px;
  box-shadow: 0px 0px 1px black;
  transition: 0.3s;
  opacity: 0,2;
  font-weight: bold;
  cursor: pointer;
}

.learn:hover{
  color: lightseagreen;
  border-width: 1px;
  border-style: solid;
  border-color: lightseagreen;
  transition: 0.4s;
  opacity: 1;
}

.medias{
  display:flex;
  width: 160px;
  justify-content: space-between;
  background-color: var(--secondary-color);
  color:gray;
}

.medias li:hover{
  transform: scale(1.1);
  cursor:pointer;
  color: lightseagreen;
  transition: 0.4s;
}

.last{
  font-size: 12px;
  color: #aaaaaa;
  margin: 20px 0px;
  padding: 0px;
  border: 0px;
}

.last a:hover{
  color: lightseagreen;
  cursor: pointer;
}

.pages{
  width: 300px;
  height: 150px;  
  display:flex;
  justify-content: space-between;
  margin-top:60px;
  margin-left:450px;
  font-size:14px;
}

.previous{
  color: #aaaaaa;

}
.previous:hover{
  color: lightseagreen;
  cursor: pointer;
  transform: scale(1.02) ;
  transition:0.3s;
}

.next:hover{
  color: lightseagreen;
  cursor: pointer;
  transform: scale(1.02) ;
  transition:0.3s ;
}