<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://kit.fontawesome.com/bf312dc673.js" crossorigin="anonymous"></script>
      <!-- Importando css -->
      <link rel="stylesheet" href="../assets/css/style.css">
      <title>CEFET-RJ</title>
   </head>
   <div class="header"></div>
   <div class="navbar">
      <div class="menus">
         <ul class="headerul">
            <li><h1 class="cefet" href="#home">CEFET-RJ</h1></li>
            <li><a class="active" href="#home">LOREM</a></li>
            <li><a class="active" href="#news">IPSUM</a></li>
            <li><a class="active" href="#contact">FEUGIAT</a></li>
            <li><a class="active"href="#about">TEMPUS</a></li>
            <li><a class="active"href="#about">ADIPISCING</a></li>
            <ul class="lupa">
               <li class="border"><a class ="active"> <i class="fa-solid fa-magnifying-glass" style="--fa-primary-color: gray;"></i></a></li>
               <li class="border"><a class ="active"><i class="fa-solid fa-bars"></i></a>
            </ul>
         </ul>
      </div>
   </div>
   <div class="wrapper">
      <div class="left">
         <div class="side-post">
            <div class="profile">
               <div class="user-img">
                  <div class="hexagono">
                     <img src="../assets/img/logo.jpg" alt="">
                  </div>
               </div>
               <br>
               <div class="user-text">
                  <div class="user-info">
                     <h1>CEFET - RJ</h1>
                     <H1>FRIBURGO</H1>
                     <div class="text-description">
                        <p>ANOTHER FINE RESPONSIVE SITE TEMPLATE BY HTML5 UP</p>
                     </div>
                  </div>
               </div>
            </div>
            <br>
            <hr class="barra" style="width:400px">
            <br>
            <div class="topic">
               <div class="image-content">
                  <div class="image-topic">
                     <img src="../assets/img/pic04.jpg" width="400px"  alt="">
                  </div>
                  <div class="text-topic">
                     <h3>VITAE  SED CONDIMENTUM</h3>
                     <p>OCTOBER 20, 2015</p>
                     <img src="../assets/img/avatar.jpg">
                  </div>
               </div>
            </div>
            <br>
            <div class="topic">
               <div class="image-content">
                  <div class="image-topic">
                     <img src="../assets/img/pic05.jpg" width="400px" alt="">
                  </div>
                  <div class="text-topic">
                     <h3>RUTRUM NEQUE ACCUMSAN</h3>
                     <p>OCTOBER 19, 2015</p>
                     <img src="../assets/img/avatar.jpg">
                  </div>
               </div>
            </div>
            <br>
            <div class="topic">
               <div class="image-content">
                  <div class="image-topic">
                     <img src="../assets/img/pic06.jpg" width="400px" alt="">
                  </div>
                  <div class="text-topic">
                     <h3>ODIO CONGUE MATTIS</h3>
                     <p>OCTOBER 18, 2015</p>
                     <img src="../assets/img/avatar.jpg">
                  </div>
               </div>
            </div>
            <br>
            <div class="topic">
               <div class="image-content">
                  <div class="image-topic">
                     <img src="../assets/img/pic07.jpg" width="400px" alt="">
                  </div>
                  <div class="text-topic">
                     <h3>ENIM NISL VEROEROS</h3>
                     <p>OCTOBER 17, 2015</p>
                     <img src="../assets/img/avatar.jpg">
                  </div>
               </div>
            </div>
            <br><br>
            <hr class="barra" style="width:400px">
            <br><br>
            <div class="left-reference" style="height:500px;">
                <ul class="posts">
                    <li>
                        <article class="refart">
                        <h3 class="reftext">
                            Lorem ipsum fermentum ut nisl vitae
                        </h3>
                        <time class="published" datetime="2015-10-20">October 20, 2015</time>
                        <a class="refimg">
                            <img src="../assets/img/pic08.jpg">
                        </a>
                    </article>
                    </li>
                    <br>
                    <hr style="width:400px">
                    <br>
                    <li>
                        <article class="refart">
                        <h3 class="reftext">
                            CONVALLIS MAXIMUS NISL MATTIS NUNC ID LOREM
                        </h3>
                        <time class="published" datetime="2015-10-20">October 15, 2015</time>
                        <a class="refimg">
                            <img src="../assets/img/pic09.jpg">
                        </a>
                    </article>
                    </li>
                    <br>
                    <hr style="width:400px">
                    <br>
                    <li>
                        <article class="refart">
                        <h3 class="reftext">
                            EUISMOD AMET PLACERAT VIVAMUS PORTTITOR
                        </h3>
                        <time class="published" datetime="2015-10-20">October 10, 2015</time>
                        <a class="refimg">
                            <img src="../assets/img/pic10.jpg">
                        </a>
                    </article>
                    </li>
                    <br>
                    <hr style="width:400px">
                    <br>
                    <li>
                        <article class="refart">
                        <h3 class="reftext">
                            MAGNA ENIM ACCUMSAN TORTOR CURSUS ULTRICIES
                        </h3>
                        <time class="published" datetime="2015-10-20">October 8, 2015</time>
                        <div class="refimg">
                            <img src="../assets/img/pic11.jpg">
                        </div>
                    </article>
                    </li>
                    <br>
                    <hr style="width:400px">
                    <br>
                    <li>
                        <article class="refart">
                        <h3 class="reftext">
                            CONGUE ULLAM CORPER LOREM IPSUM DOLOR
                        </h3>
                        <time class="published" datetime="2015-10-20">October 7, 2015</time>
                        <a class="refimg">
                            <img src="../assets/img/pic12.jpg">
                        </a>
                    </article>
                    </li>
                </ul>
                <hr>
                <br>
                <hr>
                <h1 class="abtitle">ABOUT</h1>
                <p class="abp">Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
                <div class="learn">
                    <p>LEARN MORE</p>
                 </div>
                 <br>
                 <hr>
                 <br>
                 <ul class="medias">
                     <li><i class="fa-brands fa-twitter"></i></li>
                     <li><i class="fa-brands fa-facebook"></i></li>
                     <li><i class="fa-brands fa-instagram"></i></li>
                     <li><i class="fa-solid fa-rss"></i></li>
                     <li><i class="fa-solid fa-envelope"></i></li>
                 </ul>
                 <p class="last">© UNTITLED. DESIGN: <a> HTML5 UP. </a> IMAGES: <a> UNSPLASH </a> .</p>
            </div>

         </div>
      </div>
      <div class="right">
         <div class="center container">
            <div class="row">
               <div class="AUTHOR">
                  <div class="post-img">
                     <h1>NOVEMBER 1, 2015</h1>
                     <ul>
                        <li class="post-nome">
                           <p>JANE DOE</p>
                        <li></li>
                        <img src="../assets/img/avatar.jpg">
                     </ul>
                  </div>
               </div>
               <div class="post-title">
                  <h1>MAGNA SED ADIPISCING</h1>
                  <p>LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT</p>
               </div>
               <div class="image-container">
                  <img class="imagem" src="../assets/img/pic01.jpg" alt="">
               </div>
               <div class="image-text">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
               </div>
               <div class="continue">
                  <p>CONTINUE READING</p>
               </div>
               <ul class="generalul">
                  <li>
                     <p class="general">GENERAL</p>
                  </li>
                  <li><i class="fa-solid fa-heart" style="--fa-primary-color: gray;"> </i>28</li>
                  <li><i class="fa-solid fa-comment" style="--fa-primary-color: gray;"></i>128</li>
               </ul>
               <div class="space">   
               </div>
               <div class="AUTHOR">
                  <div class="post-img">
                     <h1>OCTOBER 25, 2015</h1>
                     <ul>
                        <li class="post-nome">
                           <p>JANE DOE</p>
                        <li></li>
                        <img src="../assets/img/avatar.jpg">
                     </ul>
                  </div>
               </div>
               <div class="post-title">
                  <h1>ULTRICIES SED MAGNA EUISMOD ENIM VITAE GRAVIDA
                </h1>
                  <p>LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT</p>
               </div>
               <div class="image-container">
                  <img class="imagem" src="../assets/img/pic02.jpg" alt="">
               </div>
               <div class="image-text">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
               </div>
               <div class="continue">
                  <p>CONTINUE READING</p>
               </div>
               <ul class="generalul">
                  <li>
                     <p class="general">GENERAL</p>
                  </li>
                  <li><i class="fa-solid fa-heart" style="--fa-primary-color: gray;"> </i>28</li>
                  <li><i class="fa-solid fa-comment" style="--fa-primary-color: gray;"></i>128</li>
               </ul>
               <div class="space">   
               </div>
               <div class="AUTHOR">
                  <div class="post-img">
                     <h1>OCTOBER 22, 2015</h1>
                     <ul>
                        <li class="post-nome">
                           <p>JANE DOE</p>
                        <li></li>
                        <img src="../assets/img/avatar.jpg">
                     </ul>
                  </div>
               </div>
               <div class="post-title">
                  <h1>EUISMOD ET ACCUMSAN</h1>
                  <p>LOREM IPSUM DOLOR AMET NULLAM CONSEQUAT ETIAM FEUGIAT</p>
               </div>
               <div class="image-container">
                  <img class="imagem" src="../assets/img/pic03.jpg" alt="">
               </div>
               <div class="image-text">
                  <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
               </div>
               <div class="continue">
                  <p>CONTINUE READING</p>
               </div>
               <ul class="generalul">
                  <li>
                     <p class="general">GENERAL</p>
                  </li>
                  <li><i class="fa-solid fa-heart" style="--fa-primary-color: gray;"> </i>28</li>
                  <li><i class="fa-solid fa-comment" style="--fa-primary-color: gray;"></i>128</li>
               </ul>
            </div>
         </div>
         <div class="pages">
            <p class="previous"><i class="fa-solid fa-angle-left"></i> PREVIOUS PAGE</p>
            <p class="next">NEXT PAGE <i class="fa-solid fa-angle-right" style="--fa-primary-color: gray;" ></i></p>
         </div>
      </div>
      <br>
   </div>
   </div>
   <br>
   <!-- Importando js  -->
   <script src="../assets/js/script.js"></script>
   </body>
</html>